**

# Golang
#
!/cmd/**
!/apps/**
!/internal/**
!/pkg/**
!*.go
!go.*

# Dockers
#
!/dockers/**

# Assets
#
!/assets/**
!/migrations/**

# Vendor
#
!vendor/**

# Configs
#
!/configs/**

# Mockups
#
!/mockups/**
